aiohappyeyeballs==2.6.2
aiohttp==3.14.0
aiosignal==1.4.0
attrs==26.1.0
beautifulsoup4==4.14.3
cadquery==2.7.0
cadquery-ocp==7.8.1.1.post1
cadquery_vtk==9.3.1
casadi==3.7.2
certifi==2026.5.20
charset-normalizer==3.4.7
ezdxf==1.4.4
fonttools==4.63.0
frozenlist==1.8.0
idna==3.18
more-itertools==11.1.0
msgpack==1.1.2
multidict==6.7.1
multimethod==1.12
nlopt==2.10.0
numpy==2.4.6
path==17.1.1
propcache==0.5.2
pyparsing==3.3.2
PyYAML==6.0.3
requests==2.34.2
runtype==0.5.3
soupsieve==2.8.4
trame==3.13.2
trame-client==3.12.3
trame-common==1.2.3
trame-components==2.5.0
trame-server==3.12.4
trame-vtk==2.11.8
trame-vuetify==3.2.2
typing_extensions==4.15.0
urllib3==2.7.0
wslink==2.5.7
yarl==1.24.2
